body{
	background: lightgrey;
	font-weight: lighter;
}

#menu{
	position: fixed;
	text-align: center;
	top : 0;
	width: 100%;
	height: 50px;
	//background-color: white;
	line-height: 50px;
	z-index: 2;
	background-color: rgba(255,255, 255, 1);

}
	.page{
		float: left;
		padding-left: 25px;
		padding-right: 25px;
		font-size: 150%;
		color : grey;
		transition: all 0.7s ease;
	}
	.page:hover{
		background-color: #179b77;
		color: white;
	}

.title1{
	position: relative;
	top: 300px;
	width: 100%;
    margin: 0 auto; 
    text-align: center;
    font-size: 500%;
  	color : #29764b;
  	font-family : "Brush Script MT";
  	text-shadow: 2px 2px 3px rgba(0,0,0,.5); 
  	filter: drop-shadow(0px 0px 10px rgba(0,0,0,.5));
  	font-size : 120px;
	
}

.background{
	min-height : 100%;
	height : auto;
	width: auto;
	z-index: -1;
	position: fixed;
	top : -430px;
	left : -1250px;
	overflow: hidden;
	
	
 	
	-webkit-filter: brightness(.7);
  	filter: brightness(.7);
  	
	transform: scale(.6);
 	-moz-transform: scale(.6);
    -ms-transform: scale(.6);
    -webkit-transform: scale(.6);
    -o-transform: scale(.6);
    

}
.scrollButton{
	position: absolute;
	bottom: 10%;
	
	margin-left: 50%;
	margin-right: 50%;
	transform: scale(5.5);
 	-moz-transform: scale(5.5);
    -ms-transform: scale(5.5,);
    -webkit-transform: scale(5.5);
    -o-transform: scale(5.5);
	filter: drop-shadow(0px 0px 10px rgba(0,0,0,.5));
    color: #ababab;
}

.programm 
{
  position: absolute;
  min-height: 200%;
  width: 100%;
  left: 0;
  right: 0;
  top: 100%;
  bottom: 0;
  position: absolute;
  background: #339966;
  z-index: 1;
}
.myButton {
	-moz-box-shadow: 0px 11px 14px -7px #3e7327;
	-webkit-box-shadow: 0px 11px 14px -7px #3e7327;
	box-shadow: 0px 11px 14px -7px #3e7327;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #77b55a), color-stop(1, #72b352));
	background:-moz-linear-gradient(top, #77b55a 5%, #72b352 100%);
	background:-webkit-linear-gradient(top, #77b55a 5%, #72b352 100%);
	background:-o-linear-gradient(top, #77b55a 5%, #72b352 100%);
	background:-ms-linear-gradient(top, #77b55a 5%, #72b352 100%);
	background:linear-gradient(to bottom, #77b55a 5%, #72b352 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#77b55a', endColorstr='#72b352',GradientType=0);
	background-color:#77b55a;
	-moz-border-radius:9px;
	-webkit-border-radius:9px;
	border-radius:9px;
	border:1px solid #4b8f29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:21px;
	font-weight:bold;
	padding:17px 76px;
	text-decoration:none;
	text-shadow:0px 1px 0px #5b8a3c;
}
.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #72b352), color-stop(1, #77b55a));
	background:-moz-linear-gradient(top, #72b352 5%, #77b55a 100%);
	background:-webkit-linear-gradient(top, #72b352 5%, #77b55a 100%);
	background:-o-linear-gradient(top, #72b352 5%, #77b55a 100%);
	background:-ms-linear-gradient(top, #72b352 5%, #77b55a 100%);
	background:linear-gradient(to bottom, #72b352 5%, #77b55a 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#72b352', endColorstr='#77b55a',GradientType=0);
	background-color:#72b352;
}
.myButton:active {
	position:relative;
	top:1px;
}

.row .box-container{
	background : white;
	height : 200px;
	text-align: center;
}
.row .box-container .glyphicon{
	margin-top : 80px;
	transform: scale(5, 5);
}






.programm .container{
	margin-top: 30px;
}
.glyphicon-menu-hamburger{
	margin-top: 15px;
	float: right;
	right: 20px;
	color : grey;
	transform: scale(2);
 	-moz-transform: scale(2);
    -ms-transform: scale(2);
    -webkit-transform: scale(2);
    -o-transform: scale(2);
    z-index: 2;
    
}
.glyphicon-remove{
	margin-top: 15px;
	float: right;
	right: 20px;
	color : grey;
	transform: scale(2);
 	-moz-transform: scale(2);
    -ms-transform: scale(2);
    -webkit-transform: scale(2);
    -o-transform: scale(2);
    z-index: 2;
 
}

#smallMenu{
	position: fixed;
	z-index: 2;
	top : 50px;
	right:  0;
	width: 300px;
	height: 100%;
	background-color: #F2F2F2;
	display: none;
	filter: drop-shadow(5px 5px 10px rgba(0,0,0,.5));
	overflow-x: auto;
}






			
		