h2,h3,h4,h5,h6{
	color : white;
}


.note-contain {
  position: absolute;
  width: 200px;
  height: 150px;
}

#draggable {
	width: 200px;
	height: 150px;
}

.text{
	width : 100%;
	text-align: left;
	font-family: "Arial";
	font-size: 15px;
	color : #333333;
	
}

	

.glyphicon{
	width : 20px;
	height: 20px;
	position : relative;
	margin-left : 10px;
	margin-top : 10px;
	padding-bottom : 10px;
	color: #cdc77d;
}
.glyphicon-trash{
	float:right;
}

.note {
  position: relative;
  width: 300px;
  height: 250px;
  font-size: 20px;
  box-shadow: 0 5px 5px 2px rgba(0,0,0,0.3);
  display: block;
  font : medium -moz-fixed;
  background :#f0e9a0;
}


.note textarea{
	resize : none;
	position : relative;
	top : 30px;
	right: 5px;
	background : none;
	width : 280px;
	height : 220px;
	border : none;
	position : absolute;
}
.dropdown{
	height : 30px;
	width : 200px;
	color : white;
	text-align : center;
	margin-top: -45px;
	margin-right:20px;
	padding-top: 3px;
	float:right;
	font-weight: 100;
}
	.dropdown button{
		background : #194d33;
	}
.username{
	font-weight: bold;
}


@import "font-awesome";

body {
    padding: 0;
    margin: 0;
    background-image: url("/Postit/res/Holz2.jpg");
}
.color{
	position : absolute;
	background: white;
	width : 335px;
	height : 60px;
	border-radius : 5px;
	margin-bottom: 5px;
	box-shadow: 0 5px 5px 2px rgba(0,0,0,0.3);
	display: none;
	z-index : 100;
}
	.yellow{
		margin-top:5px;
		border-radius : 5px;
		float : left;
		width : 50px;
		height : 50px;
		background: #f0e9a0;
		margin-left: 5px;
	}
	.pink{
		margin-top:5px;
		border-radius : 5px;
		float : left;
		width : 50px;
		height : 50px;
		background: #ff9999;
		margin-left: 5px;
	}
	.blue{
		margin-top:5px;
		border-radius : 5px;
		float : left;
		width : 50px;
		height : 50px;
		background: #3399ff;
		margin-left: 5px;
	}
	.green{
		margin-top:5px;
		border-radius : 5px;
		float : left;
		width : 50px;
		height : 50px;
		background: #99ff99;
		margin-left: 5px;
	}
	.white{
		margin-top:5px;
		border-radius : 5px;
		float : left;
		width : 50px;
		height : 50px;
		background: white;
		margin-left: 5px;
		border-style: solid;
		border-width : 1px;
	}
	.violet{
		margin-top:5px;
		border-radius : 5px;
		float : left;
		width : 50px;
		height : 50px;
		background: #944dff;
		margin-left: 5px;
	}

.menu{
	position:fixed;
	z-index:100;
	width :100%;
	height : 50px;
	//background : #8000ff;
	background : #339966;
	box-shadow: 0 5px 5px 2px rgba(0,0,0,0.3);
}
.tidybutton{
	/*background : #4d0099;*/
	background : #194d33;
	border-radius : 5px;
	height : 30px;
	width : 60px;
	color : white;
	text-align : center;
	margin-top: 10px;
	margin-left:50px;
	padding-top: 3px;
	float:left;

}

.tidybutton:before{
	content:"tidy";
}



.clearbutton{
	/*background : #4d0099;*/
	background : #194d33;
	border-radius : 5px;
	height : 30px;
	width : 60px;
	color : white;
	text-align : center;
	margin-top: 10px;
	margin-left:20px;
	padding-top: 3px;
	float:left;

}

.clearbutton:before{
	content:"clear";
}
.add-button {
  position: fixed;
  right: 8%;
  bottom: 10%;
  width: 56px;
  height: 56px;
  overflow: visible;
  -webkit-transition: transform .4s cubic-bezier(.58,-0.37,.45,1.46),
    color 0s ease .4s,font-size .2s;
  -moz-transition: transform .4s cubic-bezier(.58,-0.37,.45,1.46),
    color 0s ease .4s,font-size .2s;
  transition: transform .4s cubic-bezier(.58,-0.37,.45,1.46),
    color 0s ease .4s,font-size .2s;
  text-align: center;
  line-height: 50px;
  font-size: 28px;
  color: rgba(255,255,255,1);
  background-color: #339966;
  border-radius: 100px;
  z-index: 100;
}

.add-button-img {
  position: fixed;
  right: 100px;
  bottom: 100px;
  width: 56px;
  height: 56px;
  overflow: visible;
  -webkit-transition: transform .4s cubic-bezier(.58,-0.37,.45,1.46),
    color 0s ease .4s,font-size .2s;
  -moz-transition: transform .4s cubic-bezier(.58,-0.37,.45,1.46),
    color 0s ease .4s,font-size .2s;
  transition: transform .4s cubic-bezier(.58,-0.37,.45,1.46),
    color 0s ease .4s,font-size .2s;
  text-align: center;
  line-height: 50px;
  font-size: 28px;
  color: rgba(255,255,255,1);
  background-color: #339966;
  border-radius: 100px;
  z-index: 100;
}
	.add-button-img .glyphicon-camera{
		width: 100%;
		color : white;
		margin-left : auto;
		margin-right : auto;
	}

.add-button:before {
  position: relative;
  z-index: 100;
  content:"+";
  
  
}
.alert{
	width : 20%;
	margin-left : 40%;
	position : fixed;
	z-index: 2000;
	top : 100px;
	display : none;
}


.title{
	width:300px;
	height : 50px;
	line-height : 50px;
	margin-left: auto;
	margin-right: auto;
	text-align : center;
	font-family : "Brush Script MT";
	font-size : 30px;
	color : #194d33;
}

.title2{
	height : 50px;
	line-height : 50px;
	margin-left: -40px;
	text-shadow: 0 0 10px rgba(0,0,0,0.7); 
	text-align : center;
	font-family : "Brush Script MT";
	font-size : 100px;
	color : #29764b;
}

.settings{
	position : fixed;
	z-index : 10000;
	width : 500px;
	left: 50%;
	margin-left:  -250px; 
	padding-left : 20px;
	padding-right : 20px;
	box-shadow: 0 5px 5px 2px rgba(0,0,0,0.3);
	height :720px;
	top: 70px;
	background : #339966;
	border-radius : 5px;
}
	.settings h3{
		color : white;
	}
	#close{
		color : white;
		float : right;
		margin-right : 10px;
		margin-top: 20px;
		transform: scale(1.5);
	}
	#saveChanges{
		background : #194d33;
		float : right;
		margin-right: 10px;
	}
	
.redGUI{
	margin-top:5px;
	border-radius : 5px;
	float : left;
	width : 50px;
	height : 50px;
	background: #610B0B;
	margin-left: 5px;
}
.greenGUI{
	margin-top:5px;
	border-radius : 5px;
	float : left;
	width : 50px;
	height : 50px;
	background: #194d33;
	margin-left: 5px;
}
.darkGUI{
	margin-top:5px;
	border-radius : 5px;
	float : left;
	width : 50px;
	height : 50px;
	background: #2E2E2E;
	margin-left: 5px;
	border-style: solid;
	border-width : 1px;
}
.violetGUI{
	margin-top:5px;
	border-radius : 5px;
	float : left;
	width : 50px;
	height : 50px;
	background: #4B088A;
	margin-left: 5px;
}


.alertBox{
  position : fixed;
  z-index:1000000000000;
  width: 300px;
  color: white;
  right: 10%;

  top: 150px;
}
	.alertBox .glyphicon{
		color : white;
	}
	.alertBox .sign{
	  background: #2E2EFE;
	  color : white;
	  float : left;
	  width: 30px;
	  height: 50px;
	}
	.alertBox .content{
	  background: #81BEF7;
	  height: 50px;
	  line-height: 50px;
	  text-align: center;
	  font-size: 15px;
	}
	.alertBox span{
	  width : 100%;
	  display:block;
	  left: 1px;
	  position: relative;
	  top: 20%;
	  transform: scale(1.5);
	}
	.alert .closeButton{
	  float: right;
	  background: red;
	}




@media screen and (max-width: 620px){
	.note{
		width: 80%;
		float: none;
		postion: absolute;
		left: 10%;
		
	}
	
}



